body {
    margin: 0;
    padding: 0;
    background-color: #71B6DD;
    font-family: 'roboto', sans-serif;
}

#menu{
    width: 30px;
    height: 35px;
    cursor: pointer;
    display: block;
    position: relative;
    right: 18px;
    top: 30px;
}
.bar{
    height: 3px;
    background-color: white;
    display: block;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    position: relative;
}

#bar1{
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
}
#bar3{
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
}

.nav-links li{
    list-style: none;
    padding: 30px;
    text-align: center;
}

.nav-links li a{
    color: black;
    text-decoration: none;
}

.nav-links{
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    display: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(255, 243, 228);
    padding-right: 45px;
}

.menu-bg, #menu-bar {
    position: absolute;
    right: 0px;
}

#menu.change {
    left: 170px;

}

.change .bar{
    background-color: white;
}

.change #bar1{
    -webkit-transform: translateY(1px) rotateZ(-45deg);
        -ms-transform: translateY(1px) rotate(-45deg);
            transform: translateY(1px) rotateZ(-45deg);
}
.change #bar3{
    -webkit-transform: translateY(-6px) rotate(45deg);
        -ms-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}
.change{
    display: block;
}

.head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
}

.logo img {
    width: 70px;
    height: 70px;
}

h1 {
    font-weight: 400;
    letter-spacing: 0.2em;
    font-size: 1rem;
    color: white;
    margin-top: 15%;
}

.account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.signup {
    border: 0px solid;
    background: black;
    color: white;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: 5px;
}

.login {
    border: 0px solid;
    background: #FFB017;
    color: white;
    padding: 7px 20px;
    font-size: 1.2rem;
    margin: 5px;
}

.titles {
    margin: 3% 3%;
}

h2 {
    color: white;
    font-size: 2.3rem;
}

span {
    font-weight: 300;
}

p {
    color: white;
    font-size: 1.2rem;
    margin-top: -4%;
}

button {
    border: 0px solid;
    background: #FFB017;
    padding: 8px 22px;
    font-size: 1.2rem;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.gift img {
    width: 60%;
    position: relative;
    float: right;
    margin: -20% 3%;
}

.media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.media img {
    width: 40px;
    height: 40px;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 7%;
}

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 625px) {
    
    .change #bar1{
        -webkit-transform: translateY(-3px) rotateZ(-45deg);
            -ms-transform: translateY(-2px) rotate(-45deg);
                transform: translateY(-1px) rotateZ(-45deg);
    }

    .gift img {
        width: 50%;
        position: relative;
        float: right;
        margin: -18% 3%;
    }

    button {
        margin-top: 4%;
    }

    .media {
        justify-content: start;
        margin: 5% 3%;
    }

    #twitter {
        padding-left: 15px;
    }

    h4 {
        margin-left: 5%;
        margin-top: 8%;
    }
}

@media (min-width:770px) {
    #menu{
        display: none;
    }
    
    .nav-links li{
        padding: 20px;
    }
    
    .nav-links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: left;
        background-color: white;
        padding-right: 150px;  
        border-radius: 50px;
    }

    #menu-bar {
        margin: 10% 7%;
        position: absolute;
    }
    
    .head {
        margin-top: 2%;
    }
    
    h1 {
        font-size: 1.4rem;
        margin-top: 10%;
    }

    .account {
        margin-top: -8%;
        margin-left: 65%;
    }

    .titles {
        margin: 18% 7%;
    }

    .gift img {
        width: 40%;
        margin: -30% 3%;
    }

    .media {
        margin: -12% 6%;
    }

    #twitter {
        padding-left: 15px;
    }

    h4 {
        margin-left: 4%;
        margin-top: 19%;
    }
}

@media (min-width:980px) {

    .account {
        margin-top: -6%;
        margin-left: 75%;
    }

    .nav-links {
        padding-right: 200px;  
    }

    #menu-bar {
        margin: 10% 15%;
        position: absolute;
    }

    .gift img {
        width: 30%;
    }

    .media{
        position: absolute;
        top: 0;
        margin: 14.8% 70%;
    }

    .media img {
        width: 35px;
        height: 35px;
    }

    h2 {
        color: white;
        font-size: 3rem;
        font-weight: 500;
    }
    
    p {
        color: white;
        font-size: 1.4rem;
        margin-top: -2%;
    }

    h4 {
        margin-left: 7.5%;
        margin-top: -10%;
    }
}

@media (min-width:1301px) {

    .account {
        margin-top: -4.5%;
        margin-left: 80%;
    }

    .nav-links {
        padding-right: 450px;  
    }

    .titles {
        margin: 15% 13%;
    }

    .media{
        margin: 14.8% 70%;
    }

    .gift img {
        margin: -25% 5%;
        width: 25%;
    }

    .media{
        margin: 14.3% 75%;
    }

    h4 {
        margin-left: 13.5%;
        margin-top: -10%;
    }
}

@media (min-width:1477px) {

    .titles {
        margin: 15% 12%;
    }

    .nav-links {
        position: relative;
        left: -5%;
    }

    .account {
        margin-top: -4%;
        margin-left: 83%;
    }

    h2 {
        color:white;
        font-size: 3.8rem;
    }
    
    p {
        color: white;
        font-size: 1.6rem;
        margin-top: -2%;
        width: 75%;
    }

    .media{
        margin: 14% 70%;
    }

    #twitter {
        padding-left: 35px;
    }

    .gift img {
        margin: -35% 2%;
    }

    button {
        font-size: 1.4rem;
    }

    h4 {
        margin-left: 12.8%;
        margin-top: -13%;
    }
}
