* {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#8EC1F0), to(#7AFAC4));
    background: -o-linear-gradient(left bottom, #8EC1F0, #7AFAC4);
    background: linear-gradient(to right top, #8EC1F0, #7AFAC4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.glass div {
    height: 60px;
    width: 100px;
    padding: 40px 40px 15px 70px;
    line-height: 40px;
    border-radius: 2rem;
    border: 0px solid;
    background: white;
    display: flex;
}

.live2 {
    margin-top: 20px;
}


h1 {
    color: black;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000230;
}

h2 {
    position: absolute;
    font-family: 'montserrat', sans-serif;
    font-size: 1.3rem;
    margin-top: -13%;
    left: 48%;
}

@media (max-width:833px) {
    h2 {
        margin-top: -16%;
        left: 46.5%;
    }
}


@media (max-width:539px) {
    
    h2 {
        margin-top: -25%;
    }
}

@media (max-width:449px) {

    h2 {
        left: 44%;
    }
}

@media (max-width:377px) {

    h2 {
        left: 43%;
        margin-top: -32%;
    }
}